<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Editor for Assurance Case" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.3.0.201602270002"/>
<unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="1.3.0.201602270002"/>
<repository location="http://download.eclipse.org/epsilon/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201405281451"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201405281429"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.101.201408150207"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.8.0.201405281433"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.8.1.201408201453"/>
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -Dorg.eclipse.swt.internal.gtk.disablePrinting -XX:MaxPermSize=256m -Xms40m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
